.git
.gitignore
.vscode
.codex
results
docs
XS/dpi_python
XS/mem_python
XS/vpi_python
XS/XSIT
rocket/picker/dpi_python
rocket/picker/mem_python
rocket/picker/vpi_python
coupledL2/picker/dpi_python
coupledL2/picker/mem_python
coupledL2/picker/vpi_python
XS/multilang/dpi_python
XS/multilang/dpi_cpp
XS/multilang/dpi_java
XS/multilang/dpi_golang
rocket/multilang/dpi_python
rocket/multilang/dpi_cpp
rocket/multilang/dpi_java
rocket/multilang/dpi_golang
coupledL2/multilang/dpi_python
coupledL2/multilang/dpi_cpp
coupledL2/multilang/dpi_java
coupledL2/multilang/dpi_golang
**/__pycache__
**/logs
**/sim_build
**/.ccache
**/.ccache-tmp
**/.gocache
**/*.fst
**/*.vcd
**/*.fsdb
**/*.log
**/*.xml
